{
  "presets": [
    "latest",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["import", [
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]],
    ["module-resolver", {
      "alias": {
        "components": "./src/web/components",
        "containers": "./src/web/containers",
        "routes": "./src/web/routes",
        "data": "./src/web/data"
      }
    }]
  ]
}
